{{ partial "header.html" . }}

<main class="main content">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- if or (not .Date.IsZero) .Params.categories }}<div class="post__meta meta">{{ partial "post_meta.html" . }}</div>{{ end }}
		</header>
		<div class="post__content clearfix">
			{{- if .Params.thumbnail }}
			<figure class="post__thumbnail">
				<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
			</figure>
			{{- end }}
			{{ .Content }}
		</div>
		{{ partial "post_tags.html" . }}
	</article>
	{{ partial "authorbox.html" . }}
	{{ partial "post_nav.html" . }}
	{{ partial "comments.html" . }}
	
	<script>
		var VUUKLE_CONFIG = {
			apiKey: "796e13bf-84c7-4af8-bf04-0006e1884506",
			articleId: "Bayes rule",
			img: "Article image URL",
			tags: "statistics, machine-learning",
		};
		// ⛔️ DON'T EDIT BELOW THIS LINE
		(function() {
			var d = document,
				s = d.createElement('script');
		   s.src = 'https://cdn.vuukle.com/platform.js';
		  (d.head || d.body).appendChild(s);
		})();
	</script>
	<div id='vuukle-comments'></div>
	<div class='vuukle-powerbar'></div>

</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}